<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".BraveMApp"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BraveM"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">

        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BraveM.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.SelectUniversityActivity" android:exported="false" />
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />
        <activity android:name=".ui.auth.SelectDegreeActivity" android:exported="false" />

        <activity android:name=".ui.dashboard.DashboardActivity" android:exported="false" />
        <activity android:name=".ui.papers.CourseListActivity" android:exported="false" />
        <activity android:name=".ui.papers.PaperListActivity" android:exported="false" />
        <activity android:name=".ui.papers.PaperViewerActivity" android:exported="false" />
        <activity android:name=".ui.papers.SearchActivity" android:exported="false" />

        <activity android:name=".ui.upload.UploadPaperActivity" android:exported="false" />

        <activity android:name=".ui.admin.AdminDashboardActivity" android:exported="false" />
        <activity android:name=".ui.admin.ManageDegreesActivity" android:exported="false" />
        <activity android:name=".ui.admin.ManageCoursesActivity" android:exported="false" />
        <activity android:name=".ui.admin.ManagePapersActivity" android:exported="false" />

        <activity android:name=".ui.dashboard.ProfileActivity" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
